body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(241, 198, 224);
    font-family: arial, sans-serif;
}
.content {
    text-align: center;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}
h2{
    font-size: 24px;
}
p{
    font-size: 18px;
    color: #666;
}
.backgrounds::before, .backgrounds::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 100px;
    background-size: cover;
    background-position: center;
}
.backgrounds::before{
    left: 0;
    background-image: url(Imagem/Family.jpg);
}
.backgrounds::after {
right: 0;
background-size: contain;
background-image: url(Imagem/adm.png);
}