/* fundo */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f89dcc, #e9c9de);
    color: #333;
    display: flex;
    flex-direction: column;
}

/* cabeçalho */
header {
    background-color: #ad427a;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
}

.foto {
    height: 200px;
    width: 200px;
    display: block;
}

h1 {
    color: #5e0533;
    margin-left: 10px;
    padding: 5px 0;
}

/* classe (inteira) dos botões */
.menu {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    list-style: none;
}

/* classe especificando os botões */
.menu button {
    padding: 5px;
    background-color: #6c0e3e;
    color: #e9c9de;
    border: solid 3px black;
    border-radius: 15px;
    margin-left: 20px;
}

/* classe especificando os links dos botões */
.menu button a {
    color: #e9c9de;
    text-decoration: none;  /* muda a decoração do texto */
}

input {
    padding: 5px;
    background-color: #6c0e3e;
    color: #e9c9de;
    border: solid 3px black;
    border-radius: 15px;
    margin-right: 20px;
    /* margin-bottom: 100px; */
}
h2 {
    color: #5e0533;
    margin-left: 10px;
    padding: 5px 0;
    margin-top: 100px;
}
p{
    color: #5e0533;
    margin-left: 10px;
    padding: 5px 0;
    /* margin-top: -7%;  */
     
}