/* fundo */
body {
    background-color: #bbdefb;
    color: #333333; /* Texto em cinza escuro */
    display: flex;
    flex-direction: column;   
}


/* cabeçalho */
header {
    background-color: #bbdefb;
    height: 150px;
    display: flex;
    align-items: center;
}

.foto {
    height: 130px;
    width: 170px;
    display: block;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: #333333;
    margin-left: 10px;
    padding: 5px 0;
}

h3 {
    display: flex;
}
/* classe (inteira) dos botões */
.menu {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    list-style: none;
}

/* classe especificando os botões */
.menu button {
    padding: 5px;
    background-color: #e3f2fd;
    color: #333333;
    border: solid 3px black;
    border-radius: 15px;
    margin-left: 20px;
}

/* classe especificando os links dos botões */
.menu button a {
    color: #333333;
    text-decoration: none;  /* muda a decoração do texto */
}

main {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    padding: 5px;
    background-color: #e3f2fd;
    color: #333333;
    border: solid 3px black;
    border-radius: 15px;
    margin-right: 20px;
    /* margin-bottom: 100px; */
}
h1 {
    font-family: 'Playfair Display', serif;
    color: #333333;
    display: flex;
    justify-content: center;
}
p{
    font-family: 'Playfair Display', serif;
    color: #333333;
    margin-left: 10px;
    padding: 5px 0;
    /* margin-top: -7%;  */
     
}

.container {   
    display: flex;
    flex-direction: row;
    gap: 30px; 
    margin: 0 auto;

}

.card {
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease;
    padding: 20px;
    background: #f7f9f9;
    
}
.card:hover {
    transform: translateY(-5px);
  }
   .card-content {
    padding: 0px;
  }

  .card-content h2 {
    margin: 10px 0;
    font-size: 22px;
    color: #333333; /* Texto em cinza escuro */
  }

  .card-content p {
    font-size: 14px;
    color: #555;
  }
.card h3{
    display: flex;
    justify-content: center;
}
